openapi: 3.0.0
info:
  version: 1.0.0
  title: Kin Ecosystem
  description: Apis for client to server interaction
servers:
  - url: 'https://api.kinmarketplace.com/v1/'
  - url: 'https://api-stage.kinmarketplace.com/v1/'
  - url: 'https://api-test.kinmarketplace.com/v1/'
x-globalParameters: &GLOB_PARAMS
  - $ref: '#/components/parameters/RequestId'
  - $ref: '#/components/parameters/SDKVersion'
  - $ref: '#/components/parameters/DeviceModel'
  - $ref: '#/components/parameters/DeviceManufacturer'
  - $ref: '#/components/parameters/DeviceId'
  - $ref: '#/components/parameters/OS'
paths:
  /users:
    parameters:
      *GLOB_PARAMS
    post:
      tags:
        - Auth
      summary: Sign in/ Log in
      security: []
      description: Sign a user into kin marketplace
      operationId: signIn
      requestBody:
        description: sign in data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInData'
      responses:
        '200':
          description: Successfully created a user object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  '/users/{user_id}':
    parameters:
      *GLOB_PARAMS
    get:
      tags:
        - Auth
      summary: Get user profile
      description: Get user profile
      operationId: getUserProfile
      parameters:
        - in: path
          name: user_id
          required: true
          schema:
            type: string
          description: The user id or the string "me"
      responses:
        '200':
          description: User exists and data returned according to requesting user. If user requests data on itself, the entire payload returns, otherwise a minimal subset is returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '404':
          description: User doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me/activate:
    parameters:
      *GLOB_PARAMS
    post:
      deprecated: true
      tags:
        - Auth
      summary: Activate account
      description: Activate account by accepting TOS
      operationId: activateAcount
      responses:
        '200':
          description: Successfully activated. New token is returned and should be used from now on.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /offers:
    parameters:
      *GLOB_PARAMS
    get:
      tags:
        - Offers
      summary: Return a list of offers
      description: Return a **list** of offers
      operationId: getOffers
      parameters:
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryAfter'
        - $ref: '#/components/parameters/QueryBefore'
      responses:
        '200':
          description: Successfully returned a list of offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/offers/external/orders':
    parameters:
      *GLOB_PARAMS
    post:
      tags:
        - Orders
      summary: create an external order for a native offer
      description: create an external order for a native offer
      operationId: createExternalOrder
      requestBody:
        description: submission of an order - currently spend only
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExternalOrderRequest'
      responses:
        '201':
          description: Successfully created an external order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenOrder'
        '409':
          description: Conflict
          headers:
            Location:
              schema:
                type: string
              description: location of the order that conflicts with this one
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/offers/{offer_id}/orders':
    parameters:
      *GLOB_PARAMS
    post:
      tags:
        - Orders
      summary: create an order for an offer
      description: create an order for an offer
      operationId: createOrder
      parameters:
        - in: path
          name: offer_id
          required: true
          schema:
            type: string
          description: The offer id
      responses:
        '201':
          description: Successfully created an order for an offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenOrder'
        '404':
          description: Offer ended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/orders/{order_id}':
    parameters:
      *GLOB_PARAMS
    get:
      tags:
        - Orders
      summary: get an order
      description: get an order
      operationId: getOrder
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Successfully returned an order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Orders
      summary: submit an order
      description: submit an order
      operationId: submitOrder
      parameters:
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        description: submission of an order
        required: false # in case of spend the content is not required
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EarnSubmission'
      responses:
        '201':
          description: |
            Order has successfully been submitted
            * For earn - poll form is valid, client should wait for payment on blockchain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '400':
          description: |
            Bad Request
            * For earn - payload is invalid/ order expired
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Orders
      summary: cancel an order
      description: cancel an order - this can be called only before an order is submitted
      operationId: cancelOrder
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '204':
          description: Canceled order
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    patch:
      tags:
        - Orders
      summary: change an order
      description: |
        change an order, currently the error can be changed (set) this in turn will convert this submitted order to a failed order. this gives the client an endpoint to report an internal error.
        you can only change an order that is in pending state.
        a failed order can always turn completed in case the order_id successfully appears in the blockchain.
      operationId: changeOrder
      parameters:
        - $ref: '#/components/parameters/OrderId'
      requestBody:
        description: fields to update on an order
        required: false # in case of spend the content is not required
        content:
          application/merge-patch+json:
            schema:
              type: object
              properties:
                error:
                  $ref: '#/components/schemas/Error'
      responses:
        '200':
          description: Successfully changed the order with a failure status and given message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: No such order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orders:
    parameters:
      *GLOB_PARAMS
    get:
      tags:
        - Orders
      summary: get user order history
      description: get user order history
      operationId: getHistory
      parameters:
        - in: query
          name: origin
          required: false
          schema:
            type: string
            enum: [marketplace, external]
          description: filter by origin
        - in: query
          name: offer_id
          required: false
          schema:
            type: string
          description: filter by offer_id
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryBefore'
        - $ref: '#/components/parameters/QueryAfter'
      responses:
        '200':
          description: History result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderList'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /config:
    get:
      security: []
      tags:
        - Configuration
      responses:
        '200':
          description: Server Configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'

security:
  - BearerAuth: []

components:
  parameters:
    RequestId:
      in: header
      name: X-REQUEST-ID
      required: true
      schema:
        type: string
      description: |
        A unique id for the request. A retransmitted request will have the same id
    SDKVersion:
      in: header
      name: X-SDK-VERSION
      required: true
      schema:
        type: string
    DeviceModel:
      in: header
      name: X-DEVICE-MODEL
      required: true
      schema:
        type: string
      example: S9
    DeviceManufacturer:
      in: header
      name: X-DEVICE-MANUFACTURER
      required: true
      schema:
        type: string
      example: Samsung
    DeviceId:
      in: header
      name: X-DEVICE-ID
      required: true
      schema:
        type: string
    OS:
      in: header
      name: X-OS
      required: true
      schema:
        type: string
      description: os name and version
      example: iOS 12.0.1
    QueryLimit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
      description: maximum number of items in a list
    QueryBefore:
      in: query
      name: before
      schema:
        type: string
      description: cursor that points to the start of the page of data that has been returned
    QueryAfter:
      in: query
      name: after
      schema:
        type: string
      description: cursor that points to the end of the page of data that has been returned
    OrderId:
      in: path
      name: order_id
      required: true
      schema:
        type: string
      description: The order id
  securitySchemes:
    BearerAuth:  # api requires the header Authorization: Bearer <token>
      type: http
      scheme: bearer

  schemas:
    OrderSpendResult:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum: [coupon, payment_confirmation]

    CouponCodeResult:
      allOf:
        - $ref: '#/components/schemas/OrderSpendResult'
        - type: object
          required:
            - coupon_code
          properties:
            coupon_code:
              description: a coupon code - appears in a result object of an Order
              type: string
              example: aaaa-bbbb-cccc

    JWTBodyPaymentConfirmationResult:
      allOf:
        - $ref: '#/components/schemas/OrderSpendResult'
        - type: object
          required:
            - jwt
          properties:
            jwt:
              description: JWT defined by JWTBodyPaymentConfirmation
              type: string

    BlockchainData:
      description: "details taken from a blockchain transaction - all fields optional"
      type: object
      properties:
        transaction_id:
          type: string
        sender_address:
          type: string
        recipient_address:
          type: string

    BaseOrder:
      type: object
      required:
        - id
        - offer_id
        - offer_type
        - title
        - description
        - amount
        - blockchain_data
        - origin
      properties:
        id:
          type: string
          description: unique identifier of this item
        offer_id:
          type: string
          description: the offer which this order was created from
        offer_type:
          type: string
          enum:
            - earn
            - spend
        title:
          type: string
          example: Spotify
          description: usually a brand name
        description:
          type: string
          example: completed poll
        amount:
          type: integer
          example: 4000 (KIN)
          description: kin amount
        blockchain_data:
          $ref: "#/components/schemas/BlockchainData"
        origin:
          description: "the origin of the order"
          type: string
          enum: [marketplace, external]

    Order:
      description: "a submitted order. it can be pending/completed/failed"
      allOf:
        - $ref: '#/components/schemas/BaseOrder'
        - type: object
          required:
            - status
            - completion_date
          properties:
            result:
              type: object
              oneOf:
                - $ref: '#/components/schemas/CouponCodeResult'
                - $ref: '#/components/schemas/JWTBodyPaymentConfirmationResult'
              discriminator:
                propertyName: type
                mapping:
                  coupon: '#/components/schemas/CouponCodeResult'
                  payment_confirmation: '#/components/schemas/JWTBodyPaymentConfirmationResult'
              description: |
                * empty when no result (pending status, completed earn)
                * coupon code or confirm payment JWT when completed spend
            status:
              type: string
              enum:
                - pending
                - completed
                - failed
            completion_date:
              type: string
              example: "2018-09-13T14:33:33Z"
              description: UTC ISO
            call_to_action:
              type: string
              example: tap to reveal coupon
            content:
              type: string
              description: optional json payload defining a coupon page
            error:
              $ref: '#/components/schemas/Error'

    OrderList:
      description: "a list of submitted orders"
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        paging:
          $ref: '#/components/schemas/Paging'

    EarnSubmission:
      description: "result of earn offer i.e. completed html poll"
      type: object
      required:
        - content
      properties:
        content:
          type: string
          description: "json encoded payload related to the earn offer"

    Offer:
      description: "offer details for the offer list"
      type: object
      required:
        - id
        - title
        - description
        - image
        - offer_type
        - amount
        - content
      properties:
        id:
          type: string
          example: "1231321"
        # for the offer list page
        title:
          type: string
          example: "Spotify Subscription"
        description:
          type: string
          example: "Get 30 days"
        image:
          type: string
          example: "http://xxx.www.zzz/image.jpg"
        amount:
          type: integer
          example: 300
        offer_type:
          type: string
          enum:
            - earn
            - spend
        # for the offer page
        content_type:
          description: "determines the type of data that appears in the content"
          type: string
          enum:
            - quiz
            - tutorial
            - poll
            - coupon
        content:
          description: "The coupon description or the poll payload - as serialized json"
          type: string
        blockchain_data:
          $ref: "#/components/schemas/BlockchainData"

    OfferList:
      description: "a list of offers"
      type: object
      required:
        - offers
      properties:
        offers:
          type: array
          items:
            $ref: '#/components/schemas/Offer'
        paging:
          $ref: '#/components/schemas/Paging'

    ExternalOrderRequest:
      type: object
      required:
        - jwt
      properties:
        jwt:
          type: string
          description: string serialized JWTBodySpend/ JWTBodyEarn/ JWTBodyPayToUser

    OpenOrder:
      description: "an open order that hasn't been submitted yet"
      allOf:
        - $ref: '#/components/schemas/BaseOrder'
        - type: object
          required:
            - expiration_date
          properties:
            expiration_date:
              type: string
              example: "2018-08-09T11:25:33Z"

    CommonSignInData:
      description: "Base data for all sign in types"
      type: object
      required:
        - device_id
        - wallet_address
        - sign_in_type
      properties:
        device_id:
          type: string
        wallet_address:
          type: string
          description: "The address where earned funds will go to"
        sign_in_type:
          type: string
          enum:
            - jwt
            - whitelist

    JWTSignInData:
      description: "Sign in data for JWT sign in type"
      type: object
      allOf:
        - $ref: '#/components/schemas/CommonSignInData'
        - type: object
          required:
            - jwt
          properties:
            jwt:
              type: string
              example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0aW1lc3RhbXAiOjEyMzQ1Njc4OTAsInVzZXJfaWQiOiJ1c2VyOjEyMzQiLCJhcHBfaWQiOiJhcHA6a2lrIn0.ywXZUlH2fSTxIk8V2egE9WkyJ4a9UOsAZqFN5G7o84al_utwmMA-HKSSM0-2EDtaZ2lM4FUIs0Byd0KO2HxglxrHL_grFHW_wFtnjcNrNxCsGKIXEpGowudQDuAh_ycY2EZ_JKhNY4ZPrTx69ImmeYvDkN3PvYV6_uSYQSMy6H0
              description: see JWTBodyRegister

    WhitelistSignInData:
      description: "Sign in data for whitelist sign in type"
      type: object
      allOf:
        - $ref: '#/components/schemas/CommonSignInData'
        - type: object
          required:
            - user_id
            - api_key
          properties:
            user_id:
              type: string
            api_key:
              type: string

    SignInData:
      description: "payload required for signing in"
      type: object
      allOf:  # should be oneOf but generator doesn't work
        - $ref: '#/components/schemas/JWTSignInData'
        - $ref: '#/components/schemas/WhitelistSignInData'
      discriminator:
        propertyName: sign_in_type
        mapping:
          jwt: '#/components/schemas/JWTSignInData'
          whitelist: '#/components/schemas/WhitelistSignInData'

    AuthToken:
      description: "token issued by marketplace server"
      type: object
      required:
        - token
        - activated
        - expiration_date
        - app_id
        - user_id
        - ecosystem_user_id
      properties:
        token:
          type: string
          example: AAAAA-RRRRRR-DDDDD-BBBBBB
        activated:  # did approve terms of service?
          type: boolean
        expiration_date:
          type: string
          example: "2018-09-29T12:55:44Z"
        app_id:
          type: string
          example: kik
          description: a 3 - 4 letter symbol identifying the app
        user_id:
          type: string
          example: doody
          description: the user_id from the digital service
        ecosystem_user_id:
          type: string
          example: Usdefsdlfjksldjf
          description: the internal server user_id - it's unique across all the digital services

    UserProfile:
      description: data on a user
      type: object
      properties:
        stats:
          $ref: '#/components/schemas/UserStats'
          
    UserStats:
      type: object
      required:
        - earn_count
        - spend_count
      properties:
        earn_count:
          type: number
        spend_count:
          type: number
        last_earn_date:
          type: string
          example: "2018-09-13T14:33:33Z"
          description: UTC ISO
        last_spend_date:
          type: string
          example: "2018-09-13T14:33:33Z"
          description: UTC ISO

    Paging:
      description: "object accompanying lists - used to fetch next/previous section"
      type: object
      properties:
        cursors:
          type: object
          properties:
            after:
              type: string
              example: MTAxNTExOTQ1MjAwNzI5NDE
            before:
              type: string
              example: NDMyNzQyODI3OTQw
        previous:
          type: string
          example: https://graph.facebook.com/me/albums?limit=25&before=NDMyNzQyODI3OTQw
        next:
          type: string
          example: https://graph.facebook.com/me/albums?limit=25&after=MTAxNTExOTQ1MjAwNzI5NDE=

    Error:
      description: "an error"
      type: object
      required:
        - error
        - code
      properties:
        error:
          type: string
          example: "Invalid Form"
        message:
          type: string
          example: "Form given is not in the right format"
        code:
          type: integer
          example: 4001

    JWTHeader:
      description: common header for all JWTs
      type: object
      required:
        - kid
        - alg
        - typ
      properties:
        kid:
          type: string
        alg:
          type: string
          enum: [ES256]
        typ:
          type: string
          enum: [JWT]

    JWTBodyCommon:
      description: common body fields for all JWTs
      type: object
      required:
        - iat
        - iss
        - exp
        - sub
      properties:
        iat:
          type: number
          description: issued at - seconds from epoc
        iss:
          type: string
          description: issuer name, the same as app_id (kik)
        exp:
          type: number
          description: expiration - seconds from epoc
        sub:
          type: string
          description: subject
          enum: [register, spend, earn, pay_to_user, payment_confirmation]

    JWTBodyRegister:
      allOf:
        - $ref: '#/components/schemas/JWTBodyCommon'
        - type: object
          required:
            - user_id
          properties:
            user_id:
              type: string

    JWTBodySpend:
      allOf:
        - $ref: '#/components/schemas/JWTBodyCommon'
        - type: object
          required:
            - offer
            - sender
          properties:
            offer:
              $ref: '#/components/schemas/JWTBodyPartOffer'
            sender:
              $ref: '#/components/schemas/JWTBodyPartSender'

    JWTBodyEarn:
      allOf:
        - $ref: '#/components/schemas/JWTBodyCommon'
        - type: object
          required:
            - offer
            - recipient
          properties:
            recipient:
              $ref: '#/components/schemas/JWTBodyPartRecipient'
            offer:
              $ref: '#/components/schemas/JWTBodyPartOffer'

    JWTBodyPartOffer:
      type: object
      required:
        - id
        - amount
      properties:
        id:
          type: string
          description: offer id - id is decided by digital service
        amount:
          type: number
          description: amount of kin for this offer - price

    JWTBodyPartSender:
      type: object
      required:
        - title
        - description
      properties:
        user_id:
          type: string
          description: same user_id as in register
        title:
          type: string
          description: offer title - appears in order history
        description:
          type: string
          description: offer description - appears in order history

    JWTBodyPartRecipient:
      allOf:
        - $ref: '#/components/schemas/JWTBodyPartSender'
        - type: object
          required:
            - user_id

    JWTBodyPayToUser:
      allOf:
        - $ref: '#/components/schemas/JWTBodyCommon'
        - type: object
          required:
            - offer
            - sender
            - recipient
          properties:
            sender:
              $ref: '#/components/schemas/JWTBodyPartSender'
            recipient:
              $ref: '#/components/schemas/JWTBodyPartRecipient'
            offer:
              type: object
              required:
                - id
                - amount
              properties:
                id:
                  type: string
                  description: offer id - id is decided by digital service
                amount:
                  type: number
                  description: amount of kin for this offer - price

    JWTBodyPaymentConfirmation:
      allOf:
        - $ref: '#/components/schemas/JWTBodyCommon'
        - type: object
          required:
            - payment
            - offer_id
          properties:
            offer_id:
              type: string
              description: offer id - id is decided by digital service
            sender_user_id:
              type: string
              description: user identifier - same value as given by register
            recipient_user_id:
              type: string
              description: user identifier - same value as given by register
            payment:
              type: object
              required:
                - blockchain
                - transaction_id
              properties:
                blockchain:
                  type: string
                  description: identifier of the blockchain network the transaction was made on
                transaction_id:
                  type: string
                  description: stellar identifier of the blockchain transaction
    Config:
      type: object
      required:
        - blockchain
        - jwt_keys
        - bi_service
        - webview
        - ecosystem_service
        - environment_name
      properties:
        environment_name:
          type: string
        ecosystem_service:
          type: string
        webview:
          type: string
        bi_service:
          type: string
        blockchain:
          type: object
          properties:
            horizon_url:
              type: string
            network_passphrase:
              type: string
            asset_issuer:
              type: string
            asset_code:
              type: string
              example: KIN
        jwt_keys:
          type: object
          additionalProperties:
            type: object
            properties:
              algorithm:
                type: string
              key:
                type: string
            example: {algorithm: "es256", key: "sdfsdfsd"}
