openapi: 3.0.0
info:
  version: 1.0.0
  title: Kin Ecosystem
  description: Apis for client to server interaction
servers:
  - url: 'https://api.kinmarketplace.com/v1/'
  - url: 'https://api-stage.kinmarketplace.com/v1/'
  - url: 'https://api-test.kinmarketplace.com/v1/'
paths:
  /users:
    parameters:
      - $ref: '#/components/parameters/RequestId'
    post:
      tags:
        - Auth
      summary: Sign in/ Log in
      security:
        - ApiKeyAuth: []
      description: Sign a user into kin marketplace
      operationId: signIn
      requestBody:
        description: sign in data
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInData'
      responses:
        '200':
          description: Successfully created a user object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me/activate:
    parameters:
      - $ref: '#/components/parameters/RequestId'
    post:
      tags:
        - Auth
      summary: Activate account
      description: Activate account by accepting TOS
      operationId: activateAcount
      responses:
        '204':
          description: Successfully activated
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /offers:
    parameters:
      - $ref: '#/components/parameters/RequestId'
    get:
      tags:
        - Offers
      summary: Return a list of offers
      description: Return a **list** of offers
      operationId: getOffers
      parameters:
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryAfter'
        - $ref: '#/components/parameters/QueryBefore'
      responses:
        '200':
          description: Successfully returned a list of offers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OfferList'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/offers/{offer_id}/order':
    parameters:
      - in: path
        name: offer_id
        required: true
        schema:
          type: string
        description: The offer id
      - $ref: '#/components/parameters/RequestId'
    post:
      tags:
        - Orders
      summary: create an order for an offer
      description: create an order for an offer
      operationId: createOrder
      responses:
        '200':
          description: Successfully created an order for an offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          description: Offer ended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  '/orders/{order_id}':
    parameters:
      - in: path
        name: order_id
        required: true
        schema:
          type: string
        description: The order id
      - $ref: '#/components/parameters/RequestId'
    post:
      tags:
        - Orders
      summary: submit an order
      description: submit an order
      operationId: submitOrder
      requestBody:
        description: submission of an order
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Submission'
      responses:
        '200':
          description: Submission result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionResult'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    delete:
      tags:
        - Orders
      summary: cancel an order
      description: cancel an order
      operationId: cancelOrder
      responses:
        '204':
          description: Canceled order
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /transactions:
    parameters:
      - $ref: '#/components/parameters/RequestId'
    get:
      tags:
        - Transaction History
      summary: get user history
      description: get user history
      operationId: getHistory
      parameters:
        - $ref: '#/components/parameters/QueryLimit'
        - $ref: '#/components/parameters/QueryAfter'
        - $ref: '#/components/parameters/QueryBefore'
      responses:
        '200':
          description: History result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryList'
        default:
          description: Generic Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
security:
  - ApiKeyAuth: []
    BearerAuth: []

components:
  parameters:
    RequestId:
      in: header
      name: X-REQUEST-ID
      required: true
      schema:
        type: string
      description: >-
        A unique id for the request. A retransmitted request will have the same
        id
    QueryLimit:
      in: query
      name: limit
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 25
      description: maximum number of items in a list
    QueryBefore:
      in: query
      name: before 
      schema:
        type: string
      description: cursor that points to the start of the page of data that has been returned
    QueryAfter:
      in: query
      name: after
      schema:
        type: string
      description: cursor that points to the end of the page of data that has been returned

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

    BearerAuth:  # api requires the header Authorization: Bearer <token>
      type: http
      scheme: bearer

  schemas:
    TransactionHistoryItem:
      type: object
      properties:
        status:
          type: string
          enum:
            - pending
            - completed
            - failed
        order_id:
          type: string
        order:
          $ref: '#/components/schemas/SubmissionResult'
    TransactionHistoryList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionHistoryItem'
        paging:
          type: object
          $ref: '#/components/schemas/Paging'
    HTMLPoll:
      type: object
      properties:
        content_type:
          type: string
          enum:
            - HTMLPoll
        content:
          type: string
    HTMLPollAnswer:
      type: object
      properties:
        content_type:
          type: string
          enum:
            - HTMLPollAnswer
        answers:
          type: object
          additionalProperties:
            type: string
    Coupon:
      type: object
      properties:
        content_type:
          type: string
          enum:
            - Coupon
        description:
          type: string
    Offer:
      type: object
      required:
        - id
        - title
        - description
        - image
        - offer_type
        - amount
        - content
      properties:
        id:
          type: string
          example: "1231321"
        title:
          type: string
          example: "Spotify Subscription"
        description:
          type: string
          example: "Get 30 days"
        image:
          type: string
          example: "http://xxx.www.zzz/image.jpg"
        amount:
          type: integer
          example: 300
        content:
          type: object
          oneOf:
            - $ref: '#/components/schemas/HTMLPoll'
            - $ref: '#/components/schemas/Coupon'
          discriminator:
            propertyName: content_type
        offer_type:
          type: string
          enum:
            - earn
            - spend
    OfferList:
      type: object
      properties:
        offers:
          type: array
          items:
            $ref: '#/components/schemas/Offer'
        paging:
          type: object
          $ref: '#/components/schemas/Paging'
    Order:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          example: "sdfsdfsdfsd"
        recipient_address:
          type: string
          example: "0x123123123123"
    SpendSubmission:
      type: object
      required:
        - transaction_id
      properties:
        offer_type:
          type: string
          enum:
            - SpendSubmission
        transaction_id:
          type: string
          example: "0x123123123123"
        sender_address:
          type: string
          example: "0x123123123123"
    EarnSubmission:
      type: object
      required:
        - recipient_address
      properties:
        offer_type:
          type: string
          enum:
            - EarnSubmission
        recipient_address:
          type: string
          example: "0x123123123123"
        completed_form:
          type: object
          oneOf:
            - $ref: '#/components/schemas/HTMLPollAnswer'
          discriminator:
            propertyName: content_type
    Submission:
      type: object
      oneOf:
        - $ref: '#/components/schemas/SpendSubmission'
        - $ref: '#/components/schemas/EarnSubmission'
      discriminator:
        propertyName: offer_type
      example:
        offer_type: earn
        recipient_address: "0x123123123123"
        completed_form: {}
    EarnResult:
      type: object
      required:
        - transaction_id
        - offer_type
      properties:
        offer_type:
          type: string
          enum:
            - EarnResult
        transaction_id:
          type: string
          example: "0x123123123123"
        sender_address:
          type: string
          example: "0x123123123123"
    SpendResult:
      type: object
      required:
        - asset
        - offer_type
      properties:
        offer_type:
          type: string
          enum:
            - SpendResult
        asset:
          type: object
          properties:
            coupon_code:
              type: string
              example: "aaa-bbb-ccc-ddd"
            asset_type:
              type: string
              enum:
                - coupon_code
    SubmissionResult:
      type: object
      required:
        - order_id
        - content
      properties:
        order_id:
          type: string
          example: "sdfsdfssdf"
        content:
          type: object
          oneOf:
            - $ref: '#/components/schemas/SpendResult'
            - $ref: '#/components/schemas/EarnResult'
          discriminator:
            propertyName: offer_type

    SignInData:
      type: object
      properties:
        jwt:
          type: string
          example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0aW1lc3RhbXAiOjEyMzQ1Njc4OTAsInVzZXJfaWQiOiJ1c2VyOjEyMzQiLCJhcHBfaWQiOiJhcHA6a2lrIn0.ywXZUlH2fSTxIk8V2egE9WkyJ4a9UOsAZqFN5G7o84al_utwmMA-HKSSM0-2EDtaZ2lM4FUIs0Byd0KO2HxglxrHL_grFHW_wFtnjcNrNxCsGKIXEpGowudQDuAh_ycY2EZ_JKhNY4ZPrTx69ImmeYvDkN3PvYV6_uSYQSMy6H0
          description: >
            jwt should contain "user_id", "app_id" and "timestamp"
        device_id:
          type: string
        public_address:
          type: string
          description: the address where earned funds will go to

    AuthToken:
      type: object
      properties:
        token:
          type: string
          example: AAAAA-RRRRRR-DDDDD-BBBBBB
        activated:  # did approve terms of service?
          type: boolean

    Paging:
      type: object
      properties:
        cursors:
          type: object
          properties:
            after:
              type: string
              example: MTAxNTExOTQ1MjAwNzI5NDE
            before:
              type: string
              example: NDMyNzQyODI3OTQw
        previous:
          type: string
          example: https://graph.facebook.com/me/albums?limit=25&before=NDMyNzQyODI3OTQw
        next:
          type: string
          example: https://graph.facebook.com/me/albums?limit=25&after=MTAxNTExOTQ1MjAwNzI5NDE=

    Error:
      type: object
      required:
        - error
        - code
      properties:
        error:
          type: string
          example: "Invalid Form"
        message:
          type: string
          example: "Form given is not in the right format"
        code:
          type: integer
          example: 4001
